<!DOCTYPE html>
<html>
<head>
    {% include "./partials/meta.njk" %}
    {% include "./partials/styles.njk" %}
    {% include "./partials/jsloader.njk" %}
</head>
<body>
    {% include "./partials/loader.njk" %}
    {% include "./partials/game.njk" %}
</body>
</html>
