<title>{{ title }}</title>
<meta charset="utf-8">
<meta name="description" content="{{description}}">

<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="shortcut icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
<link rel="manifest" href="/site.webmanifest">

<meta name="theme-color" content="{{themeColor}}">

<!-- Microsoft/Edge -->
<meta name="msapplication-config" content="{{msConfig}}">
<meta name="msapplication-TileColor" content="{{tileColor}}">

<!-- Apple/Safari -->
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{maskColor}}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">


<!-- Mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="320">
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<meta name="msapplication-tap-highlight" content="no">

<link rel="canonical" href="{{canonical}}">

<!-- Facebook Open Graph -->
<meta property="og:title" content="{{facebook.title}}">
<meta property="og:type" content="{{facebook.type}}">
<meta property="og:locale" content="{{facebook.locale}}">
<meta property="og:description" content="{{facebook.description}}">
<meta property="og:url" content="{{facebook.url}}">
<meta property="og:image" content="{{facebook.image}}">
<meta property="og:site_name" content="{{facebook.site_name}}">
{% if facebook.admins %}
<meta property="fb:admins" content="{{facebook.admins}}">
{% endif %}
