@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "../../node_modules/normalize.css/normalize.css";

@function scale($val) {
    @return $val*0.15vmin;
}

/* Variables */

$pink: #f98db9;
$blue: #97ddff;
$yellow: #ffcd66;
$green: rgb(0, 0, 0);
$font:'Montserrat', sans-serif;
$heading: rgb(87, 110, 129);
$sub: #ff1f79;
$black: 0 0 scale(19) 0 rgba(0, 0, 0, 0.16) inset;

/* Mixins */

@mixin center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@mixin hole($col) {
    border-radius: 100%;
    background: transparent;
    box-shadow: 0 0 0 scale(10) $col, $black;
    position: absolute;
}

*,
*:after,
*:before {
    -khtml-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-drag: none;
    -khtml-user-drag: none;
    -o-user-drag: none;
    -moz-user-drag: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

html {
    touch-action: pan-down;
    -ms-touch-action: pan-down;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: $font;
    background-image: url(../assets/images/backgroundMain.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .game-container {
        height: 100%;
        width: 100%;
        position: absolute;
    }

    h1 {
        text-transform: uppercase;
        font-size: scale(30);
        color: $heading;
        margin: scale(30) 0 0 0;
    }

    h2 {
        font-weight: normal;
        font-size: scale(18);
        color: $sub;
        margin: scale(10) 0 0 0;
    }

    p {
        margin: 0 auto;
        font-weight: normal;
        font-size: scale(18);
        color: $green;
    }

    .loader {
        text-align: center;
        margin: auto;
        width: scale(400);
        height: 100%;

        &_overlay {
            width: scale(150);
            height: scale(150);
            background: transparent;
            box-shadow: 0 0 0 100vmax rgba(255, 255, 255, 0.67), $black;
            border-radius: 100%;
            z-index: -1;

            @include center;
        }

        &_cogs {
            z-index: -2;
            width: scale(100);
            height: scale(100);
            top: scale(-120) !important;

            @include center;

            &__top {
                position: relative;
                width: scale(100);
                height: scale(100);
                transform-origin: scale(50) scale(50);
                animation: rotate 10s infinite linear;

                @for $i from 1 through 3 {
                    div:nth-of-type(#{$i}) {
                        transform: rotate($i * 30deg);
                    }
                }

                div.top_part {
                    width: scale(100);
                    border: scale(20) solid $pink;
                    box-sizing: border-box;
                    border-radius: scale(10);
                    position: absolute;
                    height: scale(100);
                    background: transparent;
                }

                div.top_hole {
                    width: scale(50);
                    height: scale(50);

                    @include hole($pink);
                    @include center;
                }
            }

            &__left {
                position: relative;
                width: scale(80);
                transform: rotate(16deg);
                top: scale(28);
                transform-origin: scale(40) scale(40);
                animation: rotate_left 10s 0.1s infinite reverse linear;
                left: scale(-24);
                height: scale(80);

                @for $i from 1 through 3 {
                    div:nth-of-type(#{$i}) {
                        transform: rotate($i * 30deg);
                    }
                }

                div.left_part {
                    width: scale(80);
                    border-radius: scale(6);
                    position: absolute;
                    border: scale(15) solid $blue;
                    box-sizing: border-box;
                    height: scale(80);
                    background: transparent;
                }

                div.left_hole {
                    width: scale(40);
                    height: scale(40);

                    @include hole($blue);
                    @include center;
                }
            }

            &__bottom {
                position: relative;
                width: scale(60);
                top: scale(-65);
                transform-origin: scale(30) scale(30);
                animation: rotate_left 10.2s 0.4s infinite linear;
                transform: rotate(4deg);
                left: scale(79);
                height: scale(60);

                @for $i from 1 through 3 {
                    div:nth-of-type(#{$i}) {
                        transform: rotate($i * 30deg);
                    }
                }

                div.bottom_part {
                    width: scale(60);
                    border-radius: scale(5);
                    border: scale(10) solid $yellow;
                    box-sizing: border-box;
                    position: absolute;
                    height: scale(60);
                    background: transparent;
                }

                div.bottom_hole {
                    width: scale(30);
                    height: scale(30);

                    @include hole($yellow);
                    @include center;
                }
            }
        }
    }
}

/* Animations */

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes rotate_left {
    from { transform: rotate(16deg); }
    to { transform: rotate(376deg); }
}

@keyframes rotate_right {
    from { transform: rotate(4deg); }
    to { transform: rotate(364deg); }
}
